/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(0, 153, 255, 0.350);
    border: 1px solid black;
}

.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}

a{
    text-decoration: none;
}

/*UTILITIES*/

.d-flex{
    display: flex;
}

/*HEADER*/

header{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color:#0084FD ;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 100px;
    margin-top: 10px;
}

header .logo img{
    object-fit: contain;
}

header .nav-mobile{
    color: white;
    margin-top: 5px;
}

header .nav-desktop{
    display: none;  
}

header .nav-desktop ul{
    justify-content: space-between;
    align-items: center;
}

header .nav-desktop ul li{
    list-style: none;
    padding: 0 10px;
}

header .nav-desktop ul li a{
    color: white;
}

header .nav-desktop ul .button a{
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding:  2px 5px;
}

@media screen and (min-width: 850px) {

    .container{
        width: 80%;
    }

    header .nav-mobile{
        display: none;
    }

    header .nav-desktop{
        display: block;
    }

}

/*MAIN*/

.main-information{
    padding-top: 90px;
}

.main-information .container .row{
    flex-wrap: wrap;
}

.main-information .container .row .col{
    width: 100%;
    margin: 10px 0;
    background-color: #B5DDFF;
    border-radius: 10px;
}

.main-information .container .row .col h3{
    text-align: center;
    padding: 20px 0;
    color: #0084FD;
}

.main-information .container .row .col .button{
    text-align: center;
    padding: 20px 0;
}

.main-information .container .row .col .button a{
    color: white;
    background-color: #0084FD;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}

.main-information .container .row .col p{
    padding: 20px;
}

.main-information .container .row .col .phone img{
    object-fit: contain;
    width: 100%;
}

.main-information .container .row .col span .fa-solid{
    color: #0084FD;
    font-size: 90px;
    text-align: center;
}



@media screen and (min-width: 480px) {

    .main-information .container .row{
        justify-content: space-between;
    }

    .main-information .container .row .col{
        width: 31%;
    }
    
    .main-information .container .row .col:first-child{
        width: 65%;
    }

    .main-information .container .row .col .phone img{
        max-height: 200px;
    }
}

@media screen and (min-width: 850px){

    .main-information .container .row .col:first-child{
        display: flex;
        align-items: flex-end;
    }

    .main-information .container .row .col .phone img{
        max-height: none;
    }

}

.secondary-information{
    background-color:#9792E4;
}

.secondary-information .container .row{
    flex-wrap: wrap;
}

.secondary-information .container .row .col{
    width: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 850px) {

    .secondary-information .container{
        width: 70%;
        margin: 0 auto;
    }

    .secondary-information .container .row{
        justify-content: space-between;
    }

    .secondary-information .container .row .col{
        width: 50%;
    }
}

.testimonials .container .row{
    flex-wrap: wrap;
}

.testimonials .container .row .col:first-child{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.testimonials .container .row .col:not(:first-child){
    width: 100%;
    margin: 10px 0;
    background-color: #9792E4;
}

.benefits-working h2{
    text-align: center;
}

.benefits-working .container .row{
    flex-wrap: wrap;
}

.benefits-working .container .row .col{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

@media screen and (min-width: 480px){

    .benefits-working .container .row{
        justify-content: space-between;
    }

    .benefits-working .container .row .col{
        width: 50%;
    }
}

@media screen and (min-width: 850px){

    .benefits-working .container .row .col{
        width: 30%;
    }
}

.about-us .container .row{
    flex-wrap: wrap;
}

.about-us .container .row .col{
    width: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 480px){

    .about-us .container .row{
        justify-content: space-between;
    }

    .about-us .container .row .col{
        width: 50%;
    }
}

@media screen and (min-width: 850px){

    .about-us .container .row{
        justify-content: space-between;
    }

    .about-us .container .row .col:first-child{
        width: 60%;
    }

    .about-us .container .row .col:last-child{
        width: 40%;
    }
}

/*FOOTER*/