/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(0, 153, 255, 0.350);
    border: 1px solid black;
}

.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}

/*UTILITIES*/

.d-flex{
    display: flex;
}

/*HEADER*/

header{
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

header .logo{
    height: 70px;
    width: 100px;
    margin-top: 3px;
}

header .nav-desktop{
    display: none;  
}

header .nav-desktop ul{
    justify-content: space-between;
    align-items: center;
}

header .nav-desktop ul li{
    list-style: none;
    padding: 0 10px;
}

@media screen and (min-width: 850px) {

    .container{
        width: 80%;
    }

    header .nav-mobile{
        display: none;
    }

    header .nav-desktop{
        display: block;
    }

}

/*MAIN*/

.main-information{
    padding-top: 90px;
}

.main-information .container .row{
    flex-wrap: wrap;
}

.main-information .container .row .col{
    width: 100%;
    margin: 5px 0;
}


@media screen and (min-width: 480px) {

    .main-information .container .row{
        justify-content: space-between;
    }

    .main-information .container .row .col{
        width: 30%;
    }
    
    .main-information .container .row .col:first-child{
        width: 65%;
    }
}

.secondary-information{
    background-color:#9792E4;
}

.secondary-information .container .row{
    flex-wrap: wrap;
}

.secondary-information .container .row .col{
    width: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 850px) {

    .secondary-information .container{
        width: 70%;
        margin: 0 auto;
    }

    .secondary-information .container .row{
        justify-content: space-between;
    }

    .secondary-information .container .row .col{
        width: 50%;
    }
}

.testimonials .container .row{
    flex-wrap: wrap;
}

.testimonials .container .row .col:first-child{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.testimonials .container .row .col:not(:first-child){
    width: 100%;
    margin: 10px 0;
    background-color: #9792E4;
}

.benefits-working h2{
    text-align: center;
}

.benefits-working .container .row{
    flex-wrap: wrap;
}

.benefits-working .container .row .col{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

@media screen and (min-width: 480px){

    .benefits-working .container .row{
        justify-content: space-between;
    }

    .benefits-working .container .row .col{
        width: 50%;
    }
}

@media screen and (min-width: 850px){

    .benefits-working .container .row .col{
        width: 30%;
    }
}

.about-us .container .row{
    flex-wrap: wrap;
}

.about-us .container .row .col{
    width: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 480px){

    .about-us .container .row{
        justify-content: space-between;
    }

    .about-us .container .row .col{
        width: 50%;
    }
}

@media screen and (min-width: 850px){

    .about-us .container .row{
        justify-content: space-between;
    }

    .about-us .container .row .col:first-child{
        width: 60%;
    }

    .about-us .container .row .col:last-child{
        width: 40%;
    }
}

/*FOOTER*/